@use '~/assets/style/common';

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

@mixin border-load-anim($primary-color) {
  @keyframes pencil {
    0% {
      transition: border-color common.$anim-time ease-in-out 0.25s;
      border-color: $primary-color transparent transparent transparent;
      top: 0%;
      left: 0%;
    }
    25% {
      transition: border-color common.$anim-time ease-in-out 0.25s;
      border-color: transparent $primary-color transparent transparent;
      top: 0%;
      right: 100%;
    }
    50% {
      transition: border-color common.$anim-time ease-in-out 0.25s;
      border-color: transparent transparent $primary-color transparent;
      top: 100%;
      right: 100%;
    }
    75% {
      transition: border-color common.$anim-time ease-in-out 0.25s;
      border-color: transparent transparent transparent $primary-color;
      top: 100%;
      right: 0%;
    }
    100% {
      transition: border-color common.$anim-time ease-in-out 0.25s;
      border-color: $primary-color transparent transparent transparent;
      top: 0%;
      right: 0%;
    }
  }
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity common.$anim-time;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
