@use '~/assets/style/common';

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
    url(~@/assets/fonts/Merriweather/Merriweather-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: normal;
  src: local('Oswald'),
    url(~@/assets/fonts/Oswald/Oswald-Regular.ttf) format('truetype');
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  letter-spacing: -0.3px;

  scroll-behavior: smooth !important;
  -webkit-tap-highlight-color: transparent; /* for removing tap highlight */
}

body #portfolio {
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-size: cover;

  color: common.$text;
  font-family: 'Merriweather', Helvetica, Arial;
  font-size: calc(
    1rem + 0.2vw
  ); // Use REM for font-size everywhere, 1.0 rem = 10 px
}

#portfolio a {
  color: inherit;
  text-decoration: inherit;
}

#portfolio a:hover {
  text-decoration: inherit;
}
