$text: #dedede; // 87% opacity white
$background: #121212;
$primary: #9BFF5D;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$info: #3ddfd7;
$success: #87e187;
$warning: #e7ff34;
$danger: #2dac2d;
$dark: #1b1b1b;

