/* slightly transparent fallback */
.glassmorphism {
	background-color: $dark;
	border-radius: 10px;
	border: 1px solid white;
  }
  
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
.glassmorphism-blur {
	background-color: $dark;
	-webkit-backdrop-filter: blur(5em);
	backdrop-filter: blur(5em);
	border-radius: 10px;
	border: 1px solid white;
}
}