$text: #dedede; // 87% opacity white
$background: #121212;
$surface:#1b1b1b;
$primary: #9bff5d;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$info: #e7ff34;
$success: #87e187;
$warning: rgb(250, 29, 29);
$danger: #2dac2d;
$dark: #1b1b1b;

$anim-time: 0.35s;
